<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Department</title>
</head>
<body>
<p>
    <a th:href="@{/departments}">
        List Department
    </a>
</p>
<form method="post"  th:action="@{/create-department}" th:object="${department}">
    <table>
        <tr>
            <td>Name Department: </td>
            <td><input th:type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"  value="create department"/></td>
        </tr>
    </table>
</form>
</body>
</html>