<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Department</title>
</head>
<body>
<form th:action="@{/edit-department}" th:object="${department}" method="post">
    <input th:type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name Department: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
</body>
</html>