<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Department</title>
</head>
<body>
<P>
    <a th:href="@{/create-department}">
         Create new Department
    </a>
</P>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Edit</td>
        <td>Delete</td>

    </tr>
    <th:block th:each="department:${departments}">
    <tr>
        <td><a th:href="@{/view-department/__${department.id}__}" th:text="${department.name}"></a></td>
        <td><a th:href="@{/edit-department/__${department.id}__}">Edit</a> </td>
        <td><a th:href="@{/delete-department/__${department.id}__}">Delete</a> </td>
    </tr>
    </th:block>
</table>
</body>
</html>