<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
    <style>
        .error{
            color: red;
        }
    </style>
</head>
<body>
<p>
    <a th:href="@{/employees}">
        List Employee
    </a>
</p>
<th:block th:if="${errorMessage}">
    <p class="error" th:text="${errorMessage}"></p>
</th:block>
<form method="post" th:action="@{/create-employee}" th:object="${employee}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:type="text" th:field="*{name}"/></td>
        </tr>
      <tr>
            <td>Birthdate</td>
          <td><input type="text" th:field="*{birthdate}"/> </td>
      </tr>
        <tr>
            <td>Address</td>
            <td> <input type="text" th:field="*{address}"/> </td>
        </tr>
        <tr>
            <td>Avatar</td>
            <td><input type="file" th:field="*{avatar}"/> </td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
                <td>Department</td>
                <td>
                <select th:field="*{department}">
                    <option th:each="d:${departments}"
                            th:value="${d.id}"
                            th:text="${d.name}">
                    </option>
                </select>
                </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Employee"/></td>
        </tr>
    </table>
</form>
</body>
</html>