<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<p>
    <a th:href="@{/create-employee}">
        Create Employee
    </a>
</p>
<form>
    Search by name department:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Birhdate</td>
        <td>Address</td>
        <td>Avatar</td>
        <td>Salary</td>
        <td>Department</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="e:${employees}">
    <tr>
        <td th:text="${e.name}"></td>
        <td th:text="${e.birthdate}"></td>
        <td th:text="${e.address}"></td>
        <td> <img width="50px" height="50px" th:src="@{'/i/' + ${e.avatar}}"></td>
        <td th:text="${e.salary}"></td>
        <td th:text="${e.department.name}"></td>
        <td><a th:href="@{/edit-employee/__${e.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-employee/__${e.id}__}">Delete</a></td>
    </tr>
    </th:block>
    <div>
        <a th:href="@{'/employees'(page=${employees.number - 1})}" th:if="${employees.hasPrevious()}">Previous</a>
        <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
        <a th:href="@{'/employees'(page=${employees.number + 1})}" th:if="${employees.hasNext()}">Next</a>
    </div>
</table>
</body>
</html>